name: Deploy to github pages

on:
  push: {branches: [main]}
  #schedule:
    #- cron: "0 0 * * *" # run on 0:00 jst
  workflow_dispatch: {}

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v4
      # data loader
      - uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: npm
      - run: npm ci
      - run: npm run build
        env:
          DUCKDB_DATABASE: ${{ secrets.DUCKDB_DATABASE }}
          MOTHERDUCK_TOKEN: ${{ secrets.MOTHERDUCK_TOKEN }}
      - uses: actions/configure-pages@v4
      - name: upload pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: dist
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
        with:
          # set true if not main branch
          preview: ${{ github.ref != 'refs/heads/main' }}
      - name: echo page url
        run: echo ${{ steps.deployment.outputs.page_url }}
